include ../mixins/bootstrap

br
.container
  a.btn.btn-primary.btn-fixed(href='#modal-params' data-toggle='modal')
    span.glyphicon.glyphicon-th-list

  ul.nav.nav-tabs
    li.active
      a(href='#blueprint-foundation' data-toggle='tab') 基础图
    li
      a(href='#blueprint-flat' data-toggle='tab') 平面布置图
    li
      a(href='#blueprint-side' data-toggle='tab')
        | {{metadata.height|letter}}-{{0|letter}} 轴立面图
    li
      a(href='#blueprint-front' data-toggle='tab') 1-{{metadata.width + 1}} 轴立面图

  .tab-content.blueprints
    #blueprint-foundation.tab-pane.active
      blueprint-simple-foundation
    #blueprint-flat.tab-pane
      blueprint-simple-flat(
        ng-repeat='rooms in metadata.rooms' layer='{{$index}}')
    #blueprint-side.tab-pane
      blueprint-simple-side
    #blueprint-front.tab-pane
      blueprint-simple-front

mixin form-group(label, for_)
  .form-group
    label.control-label.col-xs-2(for='input-'+for_)= label
    .col-xs-9
      block

mixin radios(key, radios)
  each name, index in radios.split(',')
    .radio-inline
      label
        input(type='radio' value=index ng-model='metadata.options.'+key)
        = name

+modal('params', '参数')
  form.form-horizontal
    h5 基础
    +form-group('深度', 'height')
      .input-group
        input#input-height.form-control(type='text' ng-model='metadata.height')
        span.input-group-addon K
    +form-group('长度', 'width')
      .input-group
        input#input-width.form-control(type='text' ng-model='metadata.width')
        span.input-group-addon K
    +form-group('高度', 'layer')
      .input-group
        input#input-layer.form-control(type='text' ng-model='metadata.layer')
        span.input-group-addon P
    +form-group('缩放', 'scale')
      input#input-scale.form-control(type='text' ng-model='metadata.scale')

    br
    h5 选项
    +form-group('楼梯')
      each name, key in {left: '左', right: '右', front_left: '前左', front_right: '前右'}
        .checkbox-inline
          label
            input(type='checkbox' ng-model='metadata.options.stairs.'+key)
            = name
    +form-group('防火等级')
      +radios('fireproof', '阻燃,防火')
    +form-group('门')
      +radios('gate', '防盗门,普通门')

    br
    .form-group
      .col-sm-10.col-sm-offset-2
        .btn-group
          button.btn.btn-warning(
            aria-hidden='true' data-dismiss='modal'
            ng-click='saveMetadata(metadata)')
            +icon('save')
            | 保存
          button.btn.btn-primary(
            aria-hidden='true' data-dismiss='modal'
            href='#modal-export' data-toggle='modal')
            +icon('export')
            | 导出
          a.btn.btn-default(
            aria-hidden='true' data-dismiss='modal'
            href='#modal-import' data-toggle='modal')
            +icon('import')
            | 导入

+modal('flat', '房间设置')
  form.form-horizontal
    each name, placement in {front: '前', back: '后', left: '左', right: '右', middle: '中'}
      .form-group(ng-if='room_options.'+placement)
        label.col-sm-4.control-label(for='input-room-'+placemnt)= name
        .col-sm-6
          select.form-control(id='input-room-'+placement ng-model='room.'+placement)
            option(ng-repeat='(value, name) in room_options.'+placement
                   value='{{value}}') {{name}}

+modal('import', '导入数据')
  form
    //
      .form-group
        label.control-label(for='input-metadata-file') 从文件
        input#input-metadata-file(type='file' ng-model='metadata_json')
    .form-group
      // label.control-label(for='input-metadata-json-import') 从文本数据
      textarea#input-metadata-json-import.form-control(ng-model='metadata_json_import')
    .form-group
      button.btn.btn-primary(
        ng-click='importMetadata(metadata_json_import)'
        data-dismiss='modal' aria-hidden='true')
        +icon('import')
        | 导入

+modal('export', '导出数据')
  form
    .form-group
      textarea.form-control {{metadata}}
    .form-group
      button.btn.btn-primary(ng-click='exportMetadataToFile(metadata)')
        +icon('export')
        | 导出到文件
