include ../mixins/bootstrap

.container
  a.btn.btn-primary.btn-fixed(href='#modal-params' data-toggle='modal')
    span.glyphicon.glyphicon-th-list

  ul.nav.nav-tabs
    li.active
      a(href='#blueprint-foundation' data-toggle='tab') 基础图
    li
      a(href='#blueprint-flat' data-toggle='tab') 平面布置图
    li
      a(href='#blueprint-side' data-toggle='tab')
        | {{metadata.height|letter}}-{{0|letter}} 轴立面图
    li
      a(href='#blueprint-front' data-toggle='tab') 1-{{metadata.width + 1}} 轴立面图

  .tab-content.blueprints
    #blueprint-foundation.tab-pane.active
      div(blueprint-simple-foundation ng-if='metadata.options.display == 0')
      div(blueprint-complete-foundation ng-if='metadata.options.display == 1')
    #blueprint-flat.tab-pane
      div(
        blueprint-simple-flat
        ng-if='metadata.options.display == 0'
        ng-repeat='rooms in metadata.rooms' layer='{{$index}}')
      div(
        blueprint-complete-flat
        ng-if='metadata.options.display == 1'
        ng-repeat='rooms in metadata.rooms' layer='{{$index}}')
    #blueprint-side.tab-pane
      div(blueprint-simple-side ng-if='metadata.options.display == 0')
      div(blueprint-complete-side ng-if='metadata.options.display == 1')
    #blueprint-front.tab-pane
      div(blueprint-simple-front ng-if='metadata.options.display == 0')
      div(blueprint-complete-front ng-if='metadata.options.display == 1')

mixin form-group(label, for_)
  .form-group
    label.control-label.col-xs-2(for='input-'+for_)= label
    .col-xs-9
      block

mixin radios(key, radios)
  each name, index in radios.split(',')
    .radio-inline
      label
        input(type='radio' value=index ng-model='metadata.options.'+key)
        = name

+modal('params', '参数')
  form.form-horizontal
    h5 基础
    +form-group('深度', 'height')
      .input-group
        input#input-height.form-control(type='text' ng-model='metadata.height')
        span.input-group-addon K
    +form-group('长度', 'width')
      .input-group
        input#input-width.form-control(type='text' ng-model='metadata.width')
        span.input-group-addon K
    +form-group('高度', 'layer')
      .input-group
        input#input-layer.form-control(type='text' ng-model='metadata.layer')
        span.input-group-addon P
    +form-group('缩放', 'scale')
      input#input-scale.form-control(type='text' ng-model='metadata.scale')

    h5 复制
    +form-group('基数', 'copy-base')
      input#input-copy-base.form-control(type='text' ng-model='metadata.copy.base')
    +form-group('次数', 'copy-count')
      input#input-copy-count.form-control(type='text' ng-model='metadata.copy.count')

    br
    h5 选项
    +form-group('楼梯')
      each name, key in {left: '左', right: '右', front_left: '前左', front_right: '前右'}
        .checkbox-inline
          label
            input(type='checkbox' ng-model='metadata.options.stairs.'+key)
            = name
    +form-group('防火等级')
      +radios('fireproof', '阻燃,防火')
    +form-group('门')
      +radios('gate_type', '防盗门,普通门')
    +form-group('板')
      +radios('board_type', '防火,泡沫')
    +form-group('瓦')
      +radios('tile_type', '防火,泡沫')
    +form-group('瓦类型')
      +radios('tile_class', '单面,双面')
    +form-group('雨篷')
      +radios('has_awning', '有,无')
    +form-group('雨篷类型')
      +radios('awning_type', '新型,老式')
    +form-group('显示')
      +radios('display', '基本,完整')

    br
    .form-group
      .col-sm-10.col-sm-offset-2
        .btn-group
          button.btn.btn-warning(
            aria-hidden='true' data-dismiss='modal'
            ng-click='saveMetadata(metadata)')
            +icon('save')
            | 保存
          button.btn.btn-primary(
            aria-hidden='true' data-dismiss='modal'
            href='#modal-export' data-toggle='modal')
            +icon('export')
            | 导出
          a.btn.btn-default(
            aria-hidden='true' data-dismiss='modal'
            href='#modal-import' data-toggle='modal')
            +icon('import')
            | 导入

mixin room-selector(placement, name)
  .input-group(ng-if='room_options.'+placement)
    label.input-group-addon(for='input-room-'+placement)= name
    select.form-control(id='input-room-'+placement ng-model='room.'+placement)
      option(value=0) 无
      option(value=3) 双开门
      optgroup(ng-repeat='(group, options) in room_options.'+placement label='{{group}}')
        option(ng-repeat='(value, name) in options'
        value='{{value}}') {{name}}

+modal('flat', '房间设置')
  table.table-room
    tr
      td &nbsp;
      td
        +room-selector('back', '后')
      td &nbsp;
    tr
      td
        +room-selector('left', '左')
      td
        +room-selector('middle', '中')
      td
        +room-selector('right', '右')
    tr
      td &nbsp;
      td
        +room-selector('front', '前')
      td &nbsp;

+modal('import', '导入数据')
  form
    //
      .form-group
        label.control-label(for='input-metadata-file') 从文件
        input#input-metadata-file(type='file' ng-model='metadata_json')
    .form-group
      // label.control-label(for='input-metadata-json-import') 从文本数据
      textarea#input-metadata-json-import.form-control(ng-model='metadata_json_import')
    .form-group
      button.btn.btn-primary(
        ng-click='importMetadata(metadata_json_import)'
        data-dismiss='modal' aria-hidden='true')
        +icon('import')
        | 导入

+modal('export', '导出数据')
  form
    .form-group
      textarea.form-control {{metadata}}
    .form-group
      button.btn.btn-primary(ng-click='exportMetadataToFile(metadata)')
        +icon('export')
        | 导出到文件
