include ../../mixins
+blueprint('{{$parent.defines.numbers[$attrs.layer]}}层平面布置图')
  g(transform='translate(160, 80)')
    g(
      ng-repeat='room in rooms'
      ng-attr-transform='translate({{$parent.scaled.K * $index}}, 0)'
      font-size=16
      font-weight='bold'
      text-anchor='middle')
      rect.background(
        ng-click='clicked(room)'
        x=0 y=0
        title='hello'
        ng-attr-width='{{$parent.scaled.K}}' ng-attr-height='{{$parent.scaled.K * 3}}')
      rect.board(
        ng-if='$first'
        x=0 y=0
        width=2.5 ng-attr-height='{{$parent.scaled.K * 3}}')
      rect.board(
        ng-if='room.board'
        ng-attr-x='{{$parent.scaled.K}}' y=0
        width=2.5 ng-attr-height='{{$parent.scaled.K * 3}}')
      rect.board(
        ng-if='room.back == $parent.defines.board_types.board'
        x=0 y=0
        ng-attr-width='{{$parent.scaled.K}}' height=2.5)
      g(ng-if='room.back == $parent.defines.board_types.window')
        rect.window(
          x=0 y=0
          ng-attr-width='{{$parent.scaled.K}}' height=2.5)
        text(ng-attr-x='{{$parent.scaled.K / 2}}' y=16) C
      g(ng-if='room.front == $parent.defines.board_types.window')
        rect.window(
          x=0 ng-attr-y='{{$parent.scaled.K * 3}}'
          ng-attr-width='{{$parent.scaled.K}}' height=2.5)
        text(ng-attr-x='{{$parent.scaled.K / 2}}' ng-attr-y='{{$parent.scaled.K * 3 - 2}}') C
      g(ng-if='room.front == $parent.defines.board_types.gate')
        rect.board(
          x=0 ng-attr-y='{{$parent.scaled.K * 3}}'
          ng-attr-width='{{$parent.scaled.K / 2}}' height=2.5)
        rect.window(
          ng-attr-x='{{$parent.scaled.K - 2.5}}' ng-attr-y='{{$parent.scaled.K * 2.5}}'
          width=2.5 ng-attr-height='{{$parent.scaled.K / 2}}')
        text(ng-attr-x='{{$parent.scaled.K * 0.75}}' ng-attr-y='{{$parent.scaled.K * 3 - 2}}') M
        path(ng-attr-d='M{{$parent.scaled.K / 2}},{{$parent.scaled.K * 3}} Q{{$parent.scaled.K * 0.5}},{{$parent.scaled.K * 3 - $parent.scaled.K * 0.5}} {{$parent.scaled.K}},{{$parent.scaled.K * 3 - $parent.scaled.K * 0.5}}' stroke='silver' fill='none')

