include ../../../mixins/blueprint

g(ng-attr-transform='translate({{scaled.aisle_width * (1 + (metadata.layer > 6)) * metadata.options.stairs.left + 10}}, 30)')
  g(ng-repeat='layer in metadata.rooms'
    ng-attr-transform='translate(0, {{scaled.P * (metadata.layer / 3 - $index - 1) * 3}})')
    g(fill='transparent'
      ng-repeat='room in layer'
      ng-attr-transform='translate({{scaled.K * $index}}, 0)')
      g(ng-if='room[metadata.height - 1].front == defines.board_types.window')
        - var stroke = 'stroke-width: 3; stroke: gray;'
        +ng-rect(0, 'scaled.P', 'scaled.K / 2', 'scaled.P')(style=stroke)
        +ng-rect('scaled.K / 2', 'scaled.P', 'scaled.K / 2', 'scaled.P')(style=stroke)
        +ng-line('scaled.K * 0.2', 'scaled.P * 1.6',
                 'scaled.K * 0.3', 'scaled.P * 1.4')(style=stroke)
        +ng-line('scaled.K * 0.7', 'scaled.P * 1.6',
                 'scaled.K * 0.8', 'scaled.P * 1.4')(style=stroke)
        +ng-line(0, 'scaled.P * 0.5', 'scaled.K', 'scaled.P * 2.5')(style='stroke: gray;')
        +ng-line(0, 'scaled.P * 2.5', 'scaled.K', 'scaled.P * 0.5')(style='stroke: gray;')
      g(ng-if='room[metadata.height - 1].front == defines.board_types.gate_right_right')
        +ng-line('scaled.K / 2', 0, 'scaled.K / 2', 'scaled.P * 3')
        +ng-line('scaled.K / 2', 'metadata.scale * 800',
                 'scaled.K', 'metadata.scale * 800')(style='stroke: gray;')
        circle(ng-attr-cx='{{scaled.K * 0.6}}' ng-attr-cy='{{scaled.P * 1.9}}' r=2 stroke='gray')
        +ng-line('scaled.K * 0.66', 'scaled.P * 1.8',
                 'scaled.K * 0.66', 'scaled.P * 2.1')(style='stroke: gray;')
      g(ng-if='room.front == defines.board_types.board')
        +ng-line(0, 'scaled.P * 0.5', 'scaled.K', 'scaled.P * 2.5')
        +ng-line(0, 'scaled.P * 2.5', 'scaled.K', 'scaled.P * 0.5')
      +ng-rect(0, 0, 'scaled.K', 'scaled.P * 3')

    // 走廊
    g(ng-if='!$first')
      rect(
        fill='url(#RailingPattern)'
        ng-attr-x='{{-((($index + 1) * 3 != metadata.layer && metadata.layer > 6) + 1) * metadata.options.stairs.left * scaled.aisle_width}}'
        ng-attr-y='{{scaled.P * 3 - scaled.aisle_height}}'
        ng-attr-width='{{scaled.width + (metadata.options.stairs.left + metadata.options.stairs.right + (($index + 1) * 3 != metadata.layer && metadata.layer > 6 && metadata.options.stairs.right) + (($index + 1) * 3 != metadata.layer && metadata.layer > 6 && metadata.options.stairs.left)) * scaled.aisle_width}}'
        ng-attr-height='{{scaled.aisle_height}}')

    // 两层以上
    g(ng-if='metadata.layer > 6')
      g(ng-if='!$last')
        // 左楼梯
        g(ng-if='metadata.options.stairs.left'
          ng-attr-transform='translate({{-scaled.aisle_width * 2}}, 0)')
          +ng-rect('scaled.aisle_width', 0, 'scaled.aisle_width', 'scaled.P * 1.5')(
            style='fill: url(#StairsPattern);')
          +ng-rect(0, 'scaled.P * 1.5', 'scaled.aisle_width', 'scaled.P * 1.5')(
            style='fill: url(#StairsPattern);')

          // 栏杆
          +ng-line(0, 'scaled.P * 1.5 - scaled.aisle_height', 'scaled.aisle_width',
            'scaled.P * 1.5 - scaled.aisle_height')(style='stroke-width: 3;')
          +ng-line(0, 'scaled.P * 1.5 - scaled.aisle_height * 0.25', 'scaled.aisle_width',
            'scaled.P * 1.5 - scaled.aisle_height * 0.25')(style='stroke-width: 3;')
          +ng-line(0, 'scaled.P * 1.5 - scaled.aisle_height * 0.5', 'scaled.aisle_width',
            'scaled.P * 1.5 - scaled.aisle_height * 0.5')(style='stroke-width: 3;')
          +ng-line(0, 'scaled.P * 1.5 - scaled.aisle_height * 0.75', 'scaled.aisle_width',
            'scaled.P * 1.5 - scaled.aisle_height * 0.75')(style='stroke-width: 3;')

        // 右楼梯
        g(ng-if='metadata.options.stairs.right'
          ng-attr-transform='translate({{scaled.width}}, 0)')
          +ng-rect(0, 0, 'scaled.aisle_width', 'scaled.P * 1.5')(
            style='fill: url(#StairsPattern);')
          +ng-rect('scaled.aisle_width', 'scaled.P * 1.5',
            'scaled.aisle_width', 'scaled.P * 1.5')(style='fill: url(#StairsPattern);')

          // 栏杆
          +ng-line('scaled.aisle_width', 'scaled.P * 1.5 - scaled.aisle_height',
            'scaled.aisle_width * 2', 'scaled.P * 1.5 - scaled.aisle_height')(style='stroke-width: 3;')
          +ng-line('scaled.aisle_width', 'scaled.P * 1.5 - scaled.aisle_height * 0.25',
            'scaled.aisle_width * 2', 'scaled.P * 1.5 - scaled.aisle_height * 0.25')(style='stroke-width: 3;')
          +ng-line('scaled.aisle_width', 'scaled.P * 1.5 - scaled.aisle_height * 0.5',
            'scaled.aisle_width * 2', 'scaled.P * 1.5 - scaled.aisle_height * 0.5')(style='stroke-width: 3;')
          +ng-line('scaled.aisle_width', 'scaled.P * 1.5 - scaled.aisle_height * 0.75',
            'scaled.aisle_width * 2', 'scaled.P * 1.5 - scaled.aisle_height * 0.75')(style='stroke-width: 3;')

  // 房顶、屋檐
  +ng-rect('-metadata.scale * 200', '-metadata.scale * 600',
     'scaled.width + metadata.scale * 400', 'metadata.scale * 600')(
      style='fill: url(#RoofPattern);')
  +ng-rect(0, 0, 'scaled.width', 'metadata.scale * 200')(style='fill: url(#RoofPattern);')

  // 左楼梯
  g(ng-if='metadata.options.stairs.left'
    ng-attr-transform='translate({{-scaled.aisle_width}}, {{scaled.P * 3}})')
    +ng-line(0, '-scaled.aisle_height', 0, 'scaled.layer - scaled.P * 3')
    +ng-rect(0, 0, 'scaled.aisle_width', 'scaled.layer - scaled.P * 3')(
      if='metadata.layer == 6' style='fill: url(#StairsPattern);')
    g(ng-attr-transform='translate(0, {{scaled.layer - scaled.P * 3 + 20}})')
      +ruler('bottom', '(scaled.aisle_width - metadata.scale * 80)', 20, '{{defines.aisle_width}}')
    g(ng-if='metadata.layer > 6')
      g(ng-attr-transform='translate({{-scaled.aisle_width + metadata.scale * 80}}, {{scaled.layer - scaled.P * 3 + 20}})')
        +ruler('bottom', '(scaled.aisle_width - metadata.scale * 80)', 20, '{{defines.aisle_width}}')
      +ng-line('-scaled.aisle_width', 'scaled.P * 1.5 - scaled.aisle_height',
               '-scaled.aisle_width', 'scaled.layer - scaled.P * 3')

  // 右楼梯
  g(ng-if='metadata.options.stairs.right'
    ng-attr-transform='translate({{scaled.width}}, {{scaled.P * 3}})')
    +ng-line('scaled.aisle_width', '-scaled.aisle_height',
             'scaled.aisle_width', 'scaled.layer - scaled.P * 3')
    +ng-rect(0, 0, 'scaled.aisle_width', 'scaled.layer - scaled.P * 3')(
      if='metadata.layer == 6' style='fill: url(#StairsPattern);')
    g(ng-attr-transform='translate(0, {{scaled.layer - scaled.P * 3 + 20}})')
      +ruler('bottom', '(scaled.aisle_width)', 20, '{{defines.aisle_width}}')
    g(ng-if='metadata.layer > 6')
      g(ng-attr-transform='translate({{scaled.aisle_width}}, {{scaled.layer - scaled.P * 3 + 20}})')
        +ruler('bottom', '(scaled.aisle_width)', 20, '{{defines.aisle_width}}')
      +ng-line('scaled.aisle_width * 2', 'scaled.P * 1.5 - scaled.aisle_height',
               'scaled.aisle_width * 2', 'scaled.layer - scaled.P * 3')

  // 前置左楼梯
  g(ng-attr-transform='translate(0, {{scaled.P * 3 - scaled.aisle_height}})')
    g(ng-if='metadata.options.stairs.front_left'
      ng-attr-transform='translate({{scaled.K}}, 0)')
      g(ng-if='metadata.layer == 6')
        +aisle('scaled.K * 2', 'scaled.P * 3')
      g(ng-if='metadata.layer > 6' ng-attr-transform='translate(0, {{scaled.P * 1.5}})')
        +ng-line('scaled.K + scaled.aisle_width', 0, 'scaled.K + scaled.aisle_width',
          'scaled.layer - scaled.P * 4.5 + scaled.aisle_height')(style='stroke-width: 3;')
        g(ng-repeat='layer in metadata.rooms'
          ng-if='!$last'
          ng-attr-transform='translate(0, {{$index * scaled.P * 3}})')
          g(ng-attr-transform='translate(0, {{scaled.P * 1.5}})')
            +aisle('scaled.K', '-scaled.P * 1.5')
          g(ng-attr-transform='translate(0, {{-scaled.P * 1.5}})')
            +aisle('scaled.K', 'scaled.P * 1.5')
          g(ng-attr-transform='translate({{scaled.K}}, 0)')
            +aisle('scaled.aisle_width', 0)
            +ng-line(0, 0, 0, 'scaled.aisle_height')
    g(ng-if='metadata.options.stairs.front_right'
      ng-attr-transform='translate({{scaled.width - scaled.K * 3}}, {{scaled.P * 3}})')
      g(ng-if='metadata.layer == 6')
        +aisle('scaled.K * 2', '-scaled.P * 3')
      g(ng-if='metadata.layer > 6' ng-attr-transform='translate({{scaled.K}}, {{-scaled.P * 1.5}})')
        +ng-line('-scaled.aisle_width', 0, '-scaled.aisle_width',
          'scaled.layer - scaled.P * 4.5 + scaled.aisle_height')(style='stroke-width: 3;')
        g(ng-repeat='layer in metadata.rooms'
          ng-if='!$last'
          ng-attr-transform='translate(0, {{$index * scaled.P * 3}})')
          +aisle('scaled.K', '-scaled.P * 1.5')
          +aisle('scaled.K', 'scaled.P * 1.5')
          g(ng-attr-transform='translate({{-scaled.aisle_width}}, 0)')
            +aisle('scaled.aisle_width', 0)
            +ng-line(0, 0, 0, 'scaled.aisle_height')

  // 标尺
  g(ng-attr-transform='translate(0, {{scaled.layer + 20}})')
    +rulers('number', 'metadata.width')
