mixin ng-rect(x, y, width, height)
  rect(class=attributes.class||''
       style=attributes.style||''
       ng-click=attributes.click||''
       ng-attr-x='{{'+x+'}}' ng-attr-y='{{'+y+'}}'
       ng-attr-width='{{'+width+'}}' ng-attr-height='{{'+height+'}}')

mixin ng-line(x1, y1, x2, y2)
  line(class=attributes.class||''
       style=attributes.style||''
       ng-if=attributes.if||'true'
       ng-attr-x1='{{'+x1+'}}' ng-attr-y1='{{'+y1+'}}'
       ng-attr-x2='{{'+x2+'}}' ng-attr-y2='{{'+y2+'}}')

mixin ng-text(x, y)
  text(class=attributes.class||''
       style=attributes.style||''
       ng-attr-x='{{'+x+'}}' ng-attr-y='{{'+y+'}}')
    block

mixin circle-label(text, placement, length)
  - var length = length || 20
  case placement
    when 'left'
      - var line = {x1: 10, y1: 0, x2: 10 + length, y2: 0}
    when 'bottom'
      - var line = {x1: 0, y1: -10, x2: 0, y2: -10 - length}

  line(x1=line.x1 y1=line.y1 x2=line.x2 y2=line.y2)
  circle(cx=0 cy=0 r=8 fill='transparent' stroke='black')
  text(x=-3 y=3)= text

// 一个标尺
mixin ruler(placement, width, height, text)
  - var transform = ''
  case placement
    when 'left'
      - transform = 'rotate(90 0,0) translate(0,-' + height + ')'
    when 'right'
      - transform = 'rotate(-90 0,0) translate({{-' + width + '}},0)'

  g(ng-attr-transform=transform)
    +ng-line(0, 0, 0, height)
    +ng-line(width, 0, width, height)
    +ng-line(0, height+'-6', width, height+'-6')
    +ng-text(width+'/2', height+'-10')(style='text-anchor: middle;')= text

// 一组标尺
mixin rulers(type, n)
  case type
    when 'number'
      - var label = '{{$index + 1}}'
      - var label_last = '{{$index + 2}}'
    when 'letter'
      - var label = '{{'+n+'-$index|letter}}'
      - var label_last = '{{0|letter}}'

  g(ng-attr-transform='translate({{-metadata.scale * 80}}, 0)')
    +ruler('bottom', '(scaled.K*'+n+'+metadata.scale*160)', 40,
      '{{defines.K*'+n+'+160}}')
  text(x=-6 y=0) 80
  text(ng-attr-x='{{scaled.K*'+n+'-3}}' y=0) 80
  g(ng-repeat='i in _.range('+n+')'
    ng-attr-transform='translate({{scaled.K * $index}}, 0)')
    +ruler('bottom', '(scaled.K)', 20, '{{defines.K}}')
    g(transform='translate(0, 60)')
      +circle-label(label, 'bottom', 30)
      g(ng-attr-transform='translate({{scaled.K}}, 0)' ng-if='$last')
        +circle-label(label_last, 'bottom', 30)

mixin defs
  marker#ArrowMend(overflow='visible' orient="auto")
    path#ArrowPath(
      d='M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 Z'
      transform='scale(0.4) rotate(180) translate(10, 0)')
  pattern#StairsPattern(
    width=100 ng-attr-height='{{scaled.aisle_height / 6}}' patternUnits='userSpaceOnUse')
    line(x1=0 y1=0 x2=100 y2=0 stroke='sliver')
  pattern#RailingPattern(
    width=100 ng-attr-height='{{(scaled.aisle_height + 1) / 4}}' patternUnits='userSpaceOnUse')
    line(x1=0 y1=0 x2=100 y2=0 stroke-width=5)
  pattern#RoofPattern(ng-attr-width='{{metadata.scale * 310}}' height=100 patternUnits='userSpaceOnUse')
    line(x1=0 y1=0 x2=0 y2=100 stroke-width=5)

mixin blueprint(title)
  svg.blueprint(
    ng-attr-width='{{defines.blueprint.width}}'
    ng-attr-height='{{defines.blueprint.height}}')
    g(fill='white')
      rect(x=0 y=0 ng-attr-width='{{defines.blueprint.width}}' ng-attr-height='{{defines.blueprint.height}}')
      g(transform='translate(10, 10)')
        rect(x=40 y=0 ng-attr-width='{{defines.blueprint.width - 60}}' ng-attr-height='{{defines.blueprint.height - 20}}')
        rect(x=0 y=0 width=40 height=200)
        line(x1=10 y1=0 x2=10 y2=200)
        line(x1=20 y1=0 x2=20 y2=200)
        line(x1=30 y1=0 x2=30 y2=200)
        line(x1=0 y1=50 x2=40 y2=50)
        line(x1=0 y1=100 x2=40 y2=100)
        line(x1=0 y1=150 x2=40 y2=150)
        g(transform='rotate(270 28 18)')
          text(x=0 y=-1) （日期）
          text(x=-50 y=-1) （签名）
          text(x=-100 y=-1) （实名）
          text(x=-150 y=-1) （专业）
      g(ng-attr-transform='translate({{defines.blueprint.width - 590}}, {{defines.blueprint.height - 90}})')
        rect(x=0 y=0 width=580 height=80)
        line(x1=0 y1=20 x2=580 y2=20)
        line(x1=0 y1=40 x2=580 y2=40)
        line(x1=0 y1=60 x2=580 y2=60)
        line(x1=60 y1=0 x2=60 y2=80)
        line(x1=140 y1=20 x2=140 y2=80)
        line(x1=180 y1=20 x2=180 y2=80)
        line(x1=260 y1=0 x2=260 y2=20)
        line(x1=310 y1=0 x2=310 y2=20)
        rect(x=260 y=20 width=30 height=60 fill='white')
        rect(x=290 y=20 width=160 height=60 fill='white')
        line(x1=450 y1=0 x2=450 y2=20)
        line(x1=490 y1=0 x2=490 y2=80)
        g
          text(x=0 y=14)
            tspan(x=4) 设计单位
            tspan(x=264) 工程名称
            tspan(x=454) 阶段
          text(x=0 y=34)
            tspan(x=4) 审定
            tspan(x=144) 审核
            tspan(x=454) 项目号
          text(x=0 y=54)
            tspan(x=4) 项目负责人
            tspan(x=144) 校对
            tspan(x=454) 图号
          text(x=0 y=74)
            tspan(x=4) 专业负责人
            tspan(x=144) 设计
            tspan(x=454) 日期
          text.text-vertical(x=276 y=36 letter-spacing=8) 图名
          text(x=300 y=60 style='font-size: 20')= title

    g(transform='translate(50, 10)')
      block

mixin blueprint-simple
  svg.blueprint(ng-attr-width='{{defines.blueprint.width}}' height=600)
    block
